@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.NoSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background: #000000;
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
}
#NavigationBar {
    width: 100%;
    background: #ffffff;
    color: #000000;
    float:left;
}
.NavigationItem {
    float: left;
    padding: 10px;
    font-size: 30px;
    background-color: #ffffff;
    font-family: 'Roboto Mono', monospace;
}
.NavigationItem:hover {
    float: left;
    padding: 10px;
    font-size: 30px;
    background-color: #cccccc;
    font-family: 'Roboto Mono', monospace;
}
.NavigationItem:active {
    float: left;
    padding: 10px;
    font-size: 30px;
    background-color: #999999;
    font-family: 'Roboto Mono', monospace;
}
.NavigationBox {
    float: right;
    padding: 10px;
    font-size: 30px;
    background-color: #ffffff;
    font-family: 'Roboto Mono', monospace;
}
#ToolContainer {
    position: absolute;
    bottom: 0px;
    left: 50%;
}
#Toolbar {
    position: relative;
    left: -50%;
}
.Tool {
    width:50px;
    transition: .3s ease;
}
.Tool:not(.ToolSelected):hover {
    transform: scale(1.1) translateY(-5px);
}
.ToolSelected {
    transform: scale(1.5) translateY(-15px);
}
#ColorContainer {
    float: right;
    width: 250px;
    padding: 10px;
    margin: 10px;
}
#ColorList {
    min-height: 10px;
    max-height: 500px;
}
#AddColor {
    background-color: #00aa00;
    font-size: 30px;
    width: 100%;
}
#AddColor:hover {
    background-color: #00cc00;
    font-size: 30px;
    width: 100%;
}
.Color {
    padding: 10px;
    margin: 10px;
    user-select: none;
}
.backBtn {
    color: white;
}